<div class="container">
    <div id="gamelobby" style="margin-top:50px" class="mainbox col-md-12  col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Game Lobby - {{player}} </div>
            </div>
           
             <div style="padding-top:30px" class="panel-body" >
             <h3 style="color:white!important">Pending   Games </h3>
                <div class=bs-example data-example-id=bordered-table>
                     <table class="table table-bordered">
                          <thead>
                               <tr>
                                    <th style="width:180px">ID Game</th>
                                    <th style="width:150px">Creator</th>
                                    <th style="width:80px">State</th>
                                    <th>Players</th>
                                </tr>
                           </thead>
                            <tbody>
                                <tr *ngFor="let item of allGames">
                                    <td>{{item._id}}</td>
                                    <td>{{item.creator}}</td>
                                    <td>{{item.state}}</td>
                                <td>
                                    <div  *ngFor="let player of item.players" >
                                        {{player.player.name}}
                                    </div>

                                </td>
                                </tr>
                                 
                            </tbody> 
                    </table> 
                </div>  

                <div id="runningGames">
                    <br>
                    <h3 style="color:white!important">Running Games </h3>
                    <br>
                    <div id="listrunning">
                        <table class="table table-bordered table-striped table-hover table-condensed table-hover table-responsive">
                            <tr>
                                <th style="width:100px">Id</th>
                                <th style="width:500px">Creator</th> 
                                <th style="width:350px">Total Players</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Paulo Penicheiro</td> 
                                <td>3</td>
                                <td><a style="height:100%!important; width:100%!important; position:relative!important;"class="btn btn-primary">Watch</a></td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Álvaro Neves</td> 
                                <td>2</td>
                                <td><a style="height:100%!important; width:100%!important; position:relative!important;" class="btn btn-primary">Watch</a></td>
                            </tr>    
                                
                        </table>
                    </div>
                </div>
                <hr>
                <div>
                    <chat-control></chat-control>
                </div>
                <div>
                    <notification-panel></notification-panel>
                </div>
                <form role="form" (submit)="logout()" >
                    <div class="idlogout">.
                            <br>
                            <hr>
                                <button type="submit" style="float:right;  position: relative;" class="btn btn-danger">Log Out</button>
                            <br>
                    </div>
                </form>

            </div><!-- end panel-body -->
        </div><!-- end panel -->
    </div><!-- end gamelobby -->
</div><!-- end Container -->