<div class="container">    
    <div id="board" style="margin-top:50px;;" class="mainbox col-md-12 col-sm-8" >                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">SUECA - GAME BOARD</div>
                
            </div>     

            <div style="padding-top:30px;  background-color: green" class="panel-body" >
                <!--<div class="container">-->
                <div class="col-md-12" style="text-align: center; border:2px solid">
                    Player 2 hand - <img style= "height: 80px; width: 80px;"  src="./img/{{player2Avatar}}" class="img-circle"> {{player2Name}}
                    
                </div>  
                <div class="col-md-2" style="text-align: center; border:2px solid">
                    Player 3 hand - <img style= "height: 80px; width: 80px;"  src="./img/{{player3Avatar}}" class="img-circle"> {{player3Name}}
                    
                </div>   
                <div class="col-md-8"style="text-align: center; border:2px solid">
                    <!--<div class="container">-->

                        <div class="col-md-12">
                        <div class="col-md-4" ></div>
                        <div class="col-md-4" ><img src="./img/semFace.png" style="width: 50%; height: 50%; text-align:center" class="img-responsive"></div>
                        <div class="col-md-4" ></div>
                        </div>  
                        <div class="col-md-12">
                        <div class="col-md-4" ><img src="./img/semface.png" style="width: 50%; height: 50%; text-align:center" class="img-responsive"></div>
                        <div class="col-md-4" ></div>
                        <div class="col-md-4" ><img src="./img/semFace.png" style="width: 50%; height: 50%; text-align:center" class="img-responsive"></div>
                        </div>
                        <div class="col-md-12">
                        <div class="col-md-4" ></div>
                        <div class="col-md-4"><img src="./img/semFace.png" style="width: 50%; height: 50%; text-align:center" class="img-responsive"></div>
                        <div class="col-md-4" ></div>
                        </div>
                    <!--</div>-->
                    
                </div>  
                <div class="col-md-2" style="text-align: center; border:2px solid">
                    Player 4 hand - <img style= "height: 80px; width: 80px;"  src="./img/{{player4Avatar}}" class="img-circle"> {{player4Name}}
                    
                </div> 
                <div class="col-md-12" style="text-align: center; border:2px solid">
                    Player 1 hand - <img style= "height: 80px; width: 80px;"  src="./img/{{creatorAvatar}}" class="img-circle"> {{creatorName}}
                    
                </div>
                
            <!--</div>-->
            </div> 
            <div style="padding-top:30px; padding-bottom: 30px" class="panel-footer" >
                <div style="float:left; font-size: 80%; position: relative; top:-10px; margin-bottom: 10px" >
                    <div class="col-md-6">Points Team 1:</div>
                    <div class="col-md-6" id="pointsTeam1">XXX Points</div>
                    <div class="col-md-6">Points Team 2:</div>
                    <div class="col-md-6" id="pointsTeam1">XXX Points</div>
                    
                </div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px; margin-bottom: 10px" >
                    <a style="width:150px" id="btn-home" class="btn btn-success" routerLink ="/gamelobby">Start</a>
                    <a style="width:150px" id="btn-home" class="btn btn-danger" routerLink ="/gamelobby">Denounce</a>
                    <a style="width:150px" id="btn-home" class="btn btn-warning" routerLink ="/gamelobby">Quit</a>
                    
                </div>
                <hr>
                <div>
                    <chat-control></chat-control>
                </div>
                <div>
                    <notification-panel></notification-panel>
                </div>
                
            </div>                    
        </div>  
    </div>
</div>
